nav{
    display: flex;
}
.navig{
    display: flex;
    flex-direction: column;
}

.icon{
    background-image: url("images/filmclub.png");
    background-color: #F5005B;
    height: 100px;
    width: 100px;
    background-size: 90px 90px;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}
.nav{
    width: 200px;
    height: 30px;
    background-color: blue;
    border: 1px solid red;
    flex: 0 1 75%;
    clear: left;
}



header {
    display:flex;
    flex-direction: column;
}