html{
    line-height: 1.5;
    font-family: 'PT Sans';
    color: #0B1942;
}
.navigation-bar{
    display: flex;
    width: 100%;
    height: 100px;
}
.navig{
    display: flex;
    flex-direction: column;
    flex: 2;
    
}
.icon{
    background-image: url("images/filmclub.png");
    background-color: #F5005B;
    /*height: 100px;
    width: 100px;*/
    background-size: 90px 90px;
    background-position: center;
    background-repeat: no-repeat;
    flex:1;
}
.nav{
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    color: white;
    height: 100%;
}
#home-nav{
    background-color: #00A5BF;
}
#cal-nav{
    background-color: #00B7D3;
}
#join-nav{
    background-color: #00D5E7;
}

.home-header {
    display:flex;
    flex-direction: column;
    padding: 10px;
}
.home-header h2{
    background-color: #0B1942;
    color: white;
    padding-left: 10px;
    font-weight: 100;
}
#home-first-title{
    color: #0B1942;
    background-color: white;
    margin: 5px 0 -10px 0;
    padding: 0px;
}

.home-header p{
    font-size: 12px;
}

#home-main{
    background-color: #0B1942;
    padding: 15px;
}
#home-main h1{
    color: white;
}
#rashomon{
    background-color: #E2E2E2;
    display: flex;
    padding: 15px;
}
#poster-rashomon{
    width: 50%;
    background-image: url("images/rashomon-poster.jpg");
    background-position: center;
    background-size: 135px 190px;
    background-repeat: no-repeat;
    margin-bottom: 35px;
    margin-right: 15px;
}
#rashomon-info{
    width: 50%;
}
#rashomon-info a{
    margin-top: 5px;
    font-size: 20px;
    color: #00B7D3;
}
#rashomon-info h5{
    margin-top: 5px;
    margin-bottom: 10px;
}
#rashomon-info ul{
    padding-left: 15px;
    font-size: 14px;
}

.bottom-nav{
    border: 1px solid red;
    
}
footer{
    border: 1px solid red;
    
}