html{
    line-height: 1.5;
    font-family: 'PT Sans';
    color: #0B1942;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}
.navigation-bar{
    display: flex;
    width: 100%;
    height: 100px;
}
.navig{
    display: flex;
    flex-direction: column;
    flex: 2;
    
}
.icon{
    background-image: url("images/filmclub.png");
    background-color: #F5005B;
    /*height: 100px;
    width: 100px;*/
    background-size: 90px 90px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}
.nav{
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    color: white;
    height: 93%;
    font-size: 12px;
}
#home-nav{
    background-color: #00A5BF;
}
#home-nav:hover{
    background-color: #F5005B;
    transition: 0.5s;
}
#cal-nav{
    background-color: #00B7D3;
}
#cal-nav:hover{
    background-color: #F5005B;
    transition: 0.5s;
}
#join-nav{
    background-color: #00D5E7;
}
#join-nav:hover{
    background-color: #F5005B;
    transition: 0.5s;
}

.home-header {
    padding: 10px;
    background-color: white;
}
.home-header h2{
    background-color: #0B1942;
    color: white;
    padding-left: 10px;
    font-weight: 100;
}
#home-first-title{
    color: #0B1942;
    background-color: white;
    margin: 5px 0 -10px 0;
    padding: 0px;
}

.home-header p{
    font-size: 12px;
}

#home-main{
    background-color: #0B1942;
    padding: 15px;
}
#home-main h1{
    color: white;
    margin: 2px;
    font-weight: 100;
}
#rashomon{
    background-color: #E2E2E2;
    display: flex;
    padding: 15px;
}
hr{
    font-size: 25px;
}
#poster-rashomon{
    width: 50%;
    background-image: url("images/rashomon-poster.jpg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-bottom: 35px;
    margin-right: 15px;
}
#rashomon-info{
    width: 50%;
}
#rashomon-info a{
    margin-top: 5px;
    font-size: 20px;
    color: #00B7D3;
}
#rashomon-info h5{
    margin-top: 5px;
    margin-bottom: 10px;
}
#rashomon-info ul{
    padding-left: 15px;
    font-size: 14px;
}
.other-movies{
    background-color: #E2E2E2;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;    
    padding: 10px 0 0 0;
}
.other-movies div{
    width: 45%;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
    margin-top: 10px;
}
.other-movies div p{
    margin: 0px;
    font-size: 12px;
    text-align: center;
}
.other-movies div a{
    font-size: 12px;
    color: #00B7D3;
    text-align: center;
    
}
#train{
    background-image: url("images/great-train-poster.jpg");
    background-size: 145px 200px;
    background-position: top;
    background-repeat: no-repeat;
}
#bike{
    background-image: url("images/bicycle-thief-poster.jpg");
    background-size: 145px 200px;
    background-position: top;
    background-repeat: no-repeat;
}
#nosferatu{
    background-image: url("images/nosferatu-poster.jpg");
    background-size: 145px 200px;
    background-position: top;
    background-repeat: no-repeat;
}
#metro{
    background-image: url("images/metropolis-poster.jpg");
    background-size: 145px 200px;
    background-position: top;
    background-repeat: no-repeat;
}
footer{
    color: white;
    background-color: #7DDFE8;
    text-align: center;
    padding: 25px;
    height: 15px;
    font-size: 14px;
}
/*CALENDAR STYLING**********************/
.calendar-main{
    background-color: white;
}
.calendar-main h1{
    margin: 0px;
    padding-left: 10px;    
}
.calendar-space{
    background-color: #0B1942;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
}
.calendar-space div{
    flex: 0 1 13.9%;
    margin: 0.5px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.calendar-space div h6{
    background-color: #0B1942;
    color: white;
    padding: 10px 0px 10px 15px;
    width: 25%;
    margin: 0 0 30% 0;
}
#c32, #c33, #c34, #c35{
    background-color: #0B1942;
}
.month{
    background-color: #0B1942;
    color: white;
    padding: 15px;
}
#c13, #c27{
    background-color: #F5005B;
    
}
/*JOIN STYLING ************************/
.join-body{
    background-color: white;
    color: #0B1942;
}
.join-main{
    padding: 10px;    
}
.upload{
 display: flex;
 flex-direction: column;
}
.upload input{
    margin-bottom: 30px;
}
.photo{
    border-radius: 100%;
    background-image: url("images/profile-placeholder.png");
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    align-self: center;
}
.info{
    display: flex;
    flex-direction: column;
}
.info label{
    padding-left: 10px;
    margin-top: 20px;
}
.catagories{
    display: flex;
    flex-direction: column;
}
.catagories label{
    padding-bottom: 5px;
}
.additional-input{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#button{
    color: white;
    background-color: #F5005B;
    height: 50px;
    width: 100px;
    margin-top: 10px;
}





/*MOVING TO THE MEDIUM WIDTH 
545 PX TO 768 PX
***********************************************/
 @media screen and (min-width: 545px){

    .navig{
        flex-direction: row;
        background-color: #7DDFE8;
        height: 100px;
    }
    .nav{
        flex: 0 1 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-content{
        display: flex;
        justify-content: space-around;
    }
    .header-content div{
        margin: 5px;
        flex: 1;
    }
    #rashomon{
        height: 455px;
        width: auto;
    }
    .other-movies{
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    footer{
        padding: 0 10px 0 0;
        height: 0;
        position: relative;
        top: -57px;
        text-align: right;
    }
 
 /*WORKING ON THE JOIN PAGE*/
 .join-main{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 .join-main h1{
     width: 100%;
 }
 .upload{
     flex: 0 1 50%;
 }
 .info{
     flex: 0 1 41%;
     justify-content: space-around;
     
 }
 .catagories{
     width: 100%;
     flex-direction: row;
     flex-wrap: wrap;   
 }
.catagories h4{
    width: 100%;
}
.catagories div{
    flex: 1 0 35%;
}
 
}
/*MOVING TO THE LARGE WIDTH 
769 PX AND UP....
***********************************************/
 @media screen and (min-width: 769px){

#home-main{
    display: flex;
    flex-wrap: wrap;
}
#home-main h1{
    width: 790px;
}
#rashomon{
    flex: 0 1 48%;
    height: 490px;
}
#poster-rashomon{
    margin-bottom: 200px;
    background-size: contain;
    
}
.other-movies{
    flex-wrap: wrap;
    flex: 0 1 45%;
    margin-top: 0px;

}
.other-movies div{
    flex: 0 1 45%;
}
 /*WORKING ON THE JOIN PAGE*/
.catagories div{
    flex: 0 1 30%;
}
}
